*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    position: relative;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login {
    width: 400px;
    display: grid;
    grid-template-rows: repeat(3);
    background: rgba(0,0,0, 0.4);
    border-radius: 20px;
}

span {
    display: block;
    animation-name: texto0;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes texto0 {
    from {
        color: rgb(81, 97, 121);        
    }
    to{
        background: linear-gradient(to left,rgb(81, 97, 121),white);
        -webkit-background-clip: text;
        color: transparent; 
    }
}

.text:before {
    content: '';
    position: absolute;
    color: transparent;
    animation-name: texto;
    animation-duration: 3s;
    animation-iteration-count: 1;
} 

@keyframes texto {
   from {
        width: 100%;
        height: 100%;
        color: transparent;
        left: 0%;
        background: tomato;
    }
    to {
        height: 100%;
        width: 0%;
        left: 100%; 
        color: transparent;
        background: yellow;
    }
}

.text2:before {
    content: '';
    position: absolute;
    color: transparent;
    animation-name: texto1;
    animation-duration: 3s;
    animation-iteration-count: 1;
} 

@keyframes texto1 {
   from {
        width: 100%;
        height: 100%;
        color: transparent;
        background: pink;
    }
    to {
        height: 100%;
        width: 0%;
        left: 0% auto;
        color: transparent;
        background: purple;
    }
}

.text3:before {
    content: '';
    position: absolute;
    color: transparent;
    animation-name: texto3;
    animation-duration: 3s;
    animation-iteration-count: 1;
} 

@keyframes texto3 {
   from {
        width:  100%;
        height: 100%;
        color: transparent;
        left: 0%;
        background: blueviolet;
    }
    to {
        height: 100%;
        width: 0%;
        left: 50%;
        color: transparent;
        background: red;
    }
}

h1 {
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    margin: 20px;
    margin-bottom: 18px;
    color: white;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form {
    background: rgba(93, 93, 240, 0.3);
    width: 300px;
    height: 100px;
    border:solid 1px white;
    border-radius: 20px;
    color: white;
    padding: 20px;
    place-items: center;
    display: grid;
    margin: 0 auto;
    margin-bottom: 54px;
}

.form:hover {
    box-shadow: 0 10px 30px pink;
}

.label {
    display: grid;
    position: absolute;
    top: 42px;
    left: 129px;
    color: #3993ee;
    background-color: white;
    padding: 2px;
    border-radius: 8px;
    font-size: 18px;
}

.box {
    position: absolute;
    padding: 2rem;
}

.form__input:focus+.label{
    transform: translateY(-1.9rem);
    transition: .5s;
    font-size: 15px;
    color: white;
    background: tomato;
    padding: 5px;
}

.form__input:focus {
    outline:solid 3px #3993ee;
}

.link {
    top: 90%;
    font-size: 15px;
    width: 55px;
    height: 55px;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    border-radius: 50%;
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

.link:hover {
    border: solid 3px white;
    cursor: pointer;
}

.form__input {
    padding: 10px;
    font-size: 18px;
    border: solid 1px white;
    border-radius: 15px;
    color: #3993ee;
}

.panda {
    margin: 0 auto;
    position: relative;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-bottom: 18px;
    background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cabeza {
    background: rgb(243, 235, 235);
    left: 30px;
    bottom: 25px;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 45%;
    border-top-right-radius: 55%;
    border-top-left-radius: 55%;
    position: absolute;
    border: solid 1px rgb(27, 26, 26);
    border-bottom: solid 3px rgb(49, 49, 49);
    border-left: solid 3px rgb(49, 49, 49);
    border-right: solid 3px rgb(49, 49, 49);
    width: 180px;
    height: 170px;
}

.ojo1, .ojo2 {
    position: absolute;
    border: solid 1px rgb(27, 26, 26);
    width: 50px;
    height: 80px;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 35%;
    border-top-right-radius: 55%;
    border-top-left-radius: 55%;
}

.ojo1 {
    background: rgb(49, 49, 49);
    left: 50px;
    bottom: 80px;
    transform: rotate(23deg);
}

.ojo2 {
    background: rgb(49, 49, 49);
    left: 137px;
    bottom: 80px;
    transform: rotate(335deg);
}

.oreja1, .oreja2 {
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    width: 70px;
    height: 50px;
    background: rgb(49, 49, 49);
}

.oreja1 {
    left: 20px;
    bottom: 150px;
    transform: rotate(-40deg);
}

.oreja2 {
    left: 150px;
    bottom: 150px;
    transform: rotate(40deg);
}

.trompa {
    background: rgb(243, 235, 235);
    left: 63px;
    bottom: 34px;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 35%;
    border-top-right-radius: 60%;
    border-top-left-radius: 60%;
    position: absolute;
    border: solid 1px rgb(27, 26, 26);
    border-bottom: solid 3px rgb(49, 49, 49);
    border-left: solid 3px rgb(49, 49, 49);
    border-right: solid 3px rgb(49, 49, 49);
    width: 110px;
    height: 80px;
}

.nariz {
    background: rgb(49, 49, 49);
    left: 89px;
    bottom: 70px;
    border-top-right-radius: 35%;
    border-top-left-radius: 35%;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 60%;
    position: absolute;
    width: 55px;
    height: 30px;
}

.boca1, .boca2 {
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 45px;
}

.boca1 {
    border-top-right-radius: 0%;
    left: 78px;
    bottom: 47px;
    border-right: solid 4px rgb(49, 49, 49);
    border-bottom: solid 4px rgb(49, 49, 49);
}

.boca2 {
    border-top-left-radius: 0%;
    left: 115px;
    bottom: 47px;
    border-left: solid 4px rgb(49, 49, 49);
    border-bottom: solid 4px rgb(49, 49, 49);
}

.eye {
    display: inline-block;
    left: 54px;
    bottom: -97px;
    position: relative;
    background: white;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 45px;
    border: solid 2px rgb(27, 26, 26);
}

.body .eye::before {
    content: "";
    position: absolute;
    top: 3%;
    left: 3%;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: rgb(49, 49, 49);
    border: 5px solid #997614;
    box-sizing: border-box;
}

.boca3 {
    position: absolute;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    top: -90px;
    left: 92px;
    width: 110px;
    height: 40px;
    background: transparent;
}

.smile {
    top: 0px;
    margin: 0 auto;
    position: relative;
    width: 90px;
    height: 30px;
    border-radius: 35px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: transparent;
}
.form:hover .smile{
    background: tomato;
    border: solid 2px rgb(49, 49, 49);
} 

.diente1 {
    margin-right: 2px;
    display: inline-block;
    top: -25px;
    left: 30px;
    position: relative;
    width: 15px;
    height: 20px;
    border-radius: 35px;
}
.form:hover .diente1, .diente2{
    background: white;
    border: solid 1px black;
} 

.diente2 {
    margin-right: 2px;
    display: inline-block;
    top: -33px;
    left: -34px;
    position: relative;
    width: 15px;
    height: 20px;
    border-radius: 35px;
    transform: rotate(30deg);
    background: transparent;
    border: 0;
}
.form:hover .diente2{
    background: white;
    border: solid 1px black;
} 

.diente3 {
    margin-right: 2px;
    display: inline-block;
    top: -36px;
    left: -5px;
    position: relative;
    width: 15px;
    height: 20px;
    border-radius: 35px;
    transform: rotate(-65deg);
}
.form:hover .diente3{
    background: white;
    border: solid 1px black;
} 

.smile1 {
    top: -70px;
    margin: 0 auto;
    position: relative;
    width: 70px;
    height: 35px;
    border-radius: 35px;
}
.form:hover .smile1{
    background: #f4eaeb;
    border-bottom: solid 2px rgb(49, 49, 49);
} 

.nariz1 {
    background: rgb(49, 49, 49);
    left: 26px;
    bottom: 40px;
    border-top-right-radius: 35%;
    border-top-left-radius: 35%;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 60%;
    position: absolute;
    width: 55px;
    height: 30px;
}

.form:hover .boca3{
    background: #f4eaeb;
} 

.chapis {
    left: -10px;
    bottom: 28px;
    border-radius: 50%;
    position: absolute;
    width: 37px;
    height: 25px;
    transform: rotate(-12deg);
    transition: 0.2s;
}
.form:hover .chapis{
    background-color: #f4eaeb;
    border-bottom: solid 2px rgb(49, 49, 49);
} 

@media (max-width: 700px){
    .login {
        display: grid;
        place-content: center;
        place-items: center;
        max-width: 90vw;
    }
}